.cache
*.cache
.csproj.*
.cache.*
.dll
.pdb
.ide
.ide-shm
.ide-wal
.vs/
bin/
.force
.g.cs.bakcup
Debug/
obj/
*.suo
*.user
*.ncb
Release/
CodeAnalyst/
Entities/obj/
Exceptions/obj/
Gorilla/obj/
Model/obj/
Model.Test/obj/
UITest/obj/
WebApi.Test/obj/
WebApplication2/obj/
